@font-face {
  font-family: mincraft;
  src: url("https://cdn.glitch.global/e88e66e6-4eb6-4f22-b468-9114ebc8c97d/MinecraftTen-VGORe.ttf?v=1736441382367");
}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: mincraft;
  background-image: linear-gradient(purple, navy);
}
.list {
  color: black;
}

#myCanvas {
  background-image: url("https://i.pinimg.com/originals/42/48/dc/4248dc2842854731abc80bee7ecb1346.png");
  background-size: 600px 400px;
  border-radius: 30px;
  border: 10px solid rgb(255, 245, 227);
  background-repeat: no-repeat;
}

.main {
  display: flex;
  text-align: left;
  justify-content: space-around;
}
